/* # Format body */
body{
    font-family: proxima-nova, sans-serif;
    font-size: 0.95rem;
}

h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
}


main{
    color: rgb(36, 35, 35);
    /* font-size: 0.8rem; */
    line-height: 130%;
}


.photo{
    text-align: center;
}

main h2{
    font-family: "Zilla Slab", serif;
    color: rgb(192, 64, 47);
    font-size: 1.5rem;
    font-weight: 600;
}

#prep{
    width: 95%;
    margin: 0.8rem auto;
    /* text-align: center; */
}


#prep ul{
    margin: 0;
    padding: 0;
}

#prep ul li{
    margin: 0 1rem 0.5rem 1rem;
    padding: 0 1rem 0 1rem;
}

.btn{
    display: block;
    margin-top: 1rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: #a8c0f3;
    border-color: #a8c0f3;
    border-radius: 4px;
    padding: 1rem 1rem;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background-color: #82a4ec;
}

/* Make the link blink */
.btn{
    animation: combined-blink-animation 2s infinite, color-change 2s infinite;
}

@keyframes combined-blink-animation {
    0%, 50%, 100% {
        visibility: visible;
    }
    25%, 75% {
        visibility: hidden;
    }
}
@keyframes color-change {
    0% { color: green; }
    50% { color: rgb(22, 37, 175); }
    100% { color: green; }
}

/* Responsive image */
@media (max-width: 768px){
    #prep img{
        width: 85%;
    }
}